<!DOCTYPE html>
<html ng-app="StoryTree">
<head>
  <title>Story Tree</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class='navbar navbar-dark bg-inverse' role="navigation">
    <div class="container container-fluid">
      <div class="navbar-header">
        <a class='navbar-brand' href='#'>Story Tree</a>
      </div>
      <div class='navbar-collapse bs-navbar-collapse collapse' role='navigation'>
        <ul class='nav navbar-nav'>
          <li class=''><a href='#/introduction'>Introduction</a></li>
          <li class=''><a href='/'>Stories</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <li class=''><a href='<%=destroy_user_session_path%>' data-method="delete">Sign Out</a></li>
          <% else %>
            <li class=''><a href='<%=new_registration_path(:user)%>'>Register</a></li>
            <li class=''><a href='<%=new_session_path(:user)%>'>Log In</a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container container-fluid" ng-view>
    <%= yield %>
  </div>

</body>
</html>
